<div class="chat-section">
    <div class="chat-header">
        <h3>Game Chat</h3>
        <span id="players-count">0/<%= totalUsers %> players</span>
    </div>
    
    <div class="chat-messages" id="chat-messages">
        <!-- Messages will be added dynamically -->
    </div>
    
    <div class="chat-input-container">
        <input type="text" id="chat-input" placeholder="Type your message..." maxlength="200">
        <button id="send-message" class="btn-send">Send</button>
    </div>
</div>