</main>
    
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Game Hub. Ready for more games!</p>
            <div class="footer-links">
                <a href="/">Home</a>
                <a href="#" onclick="createQuickRoom()">Quick Play</a>
            </div>
        </div>
    </footer>
    
    <script src="/js/common.js"></script>
</body>
</html>