<header>
    <nav>
        <div class="nav-container">
            <h1 class="logo">
                <a href="/" style="display: flex; align-items: center;">
                    <img src="/images/we1.png" alt="We1" width="50" height="50"/>
                    <span>Hangout</span>
                </a>
            </h1>
            <ul class="nav-links">
                <div class="sound-controls">
                    <button id="sound-toggle" class="sound-btn">🔊</button>
                    <input type="range" id="volume-slider" min="0" max="100" value="30" class="volume-slider">
                </div>
                <% if (typeof gameType !== 'undefined') { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="#" onclick="createQuickRoom()">Quick Game</a></li>
                    <li><span class="current-game">Playing: <%= gameType.toUpperCase() %></span></li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>